<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>AutoLog | Vehículo</title>
	    <link rel="stylesheet" th:href="@{/css/styles.css}">
	</head>
	<body>
	
		<div th:replace="fragments :: headerFragment"></div>
	
		<div class="layout">
	
			<div th:replace="fragments :: sidebarFragment('vehicles')"></div>
	
		    <main class="content">
		
		        <div class="form-card">
		            <h1 th:text="${vehicle.id != null} ? 'Editar Vehículo' : 'Nuevo Vehículo'"></h1>
		
					<form th:action="@{/vehicles/save}" th:object="${vehicle}" method="post">
		
					    <input type="hidden" th:field="*{id}" />
		
					    <div class="form-group">
					        <label>Marca</label>
					        <input type="text" th:field="*{brand}" required>
					        <div class="txt-danger" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"></div>
					    </div>
		
					    <div class="form-group">
					        <label>Modelo</label>
					        <input type="text" th:field="*{model}" required>
					        <div class="txt-danger" th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></div>
					    </div>
		
					    <div class="form-group">
					        <label>Matrícula</label>
					        <input type="text" th:field="*{plate}" placeholder="1234ABC o AB123CD" required>
					        <div class="txt-danger" th:if="${#fields.hasErrors('plate')}" th:errors="*{plate}"></div>
					    </div>
		
					    <div class="form-group">
					        <label>Fecha de Matriculación</label>
					        <input type="date" th:field="*{registrationDate}">
					        <div class="txt-danger" th:if="${#fields.hasErrors('registrationDate')}" th:errors="*{registrationDate}"></div>
					    </div>
		
					    <div class="form-group">
					        <label>Tipo</label>
					        <select th:field="*{type}" required>
					            <option th:value="COCHE">Coche</option>
					            <option th:value="FURGON">Furgón</option>
					            <option th:value="MOTO">Moto</option>
					            <option th:value="CAMION">Camión</option>
					        </select>
					        <div class="txt-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
					    </div>
		
					    <button type="submit" class="btn btn-new">💾 Guardar</button>
					</form>
		
		        </div>
		    </main>
		</div>
	
	</body>
</html>
